<script type="text/javascript" src="@App.Path/assets/jquery.jplayer.min.js"></script>
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
    var episodes = Content.Parents("Episode") as Dynlist;
    var episodeNumber = 0;
}
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/style.css" />

<div class="container sc-element">
    @Edit.Toolbar(Content)
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <img src="@Content.Image?w=200&h=200&mode=crop">
                <div class="card-body">
                    <p class="card-text">
                        <!-- TODO: add translation -->
                        <p class="text-muted">@episodes.Count() Episoden</p> 
                        <hr>
                        <div class="channel-description-desktop">
                            @Html.Raw(Content.Description)
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8"> 
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title channel-title">@Content.Title</h3>
                    <h5 class="card-subtitle mb-3 owner-name">@Content.Owner[0].FullName</h6>
                    <div class="channel-description-mobile">
                        @Html.Raw(Content.Description)
                    </div>
                    <div class="channel-category-rss">
                        <p class="card-text text-muted mb-0">@Content.Category[0].Name</p>
                        <a href="@Link.To(parameters: "rss/true/?standalone=true")" 
                           class="badge badge-pill badge-secondary"
                           target="_blank"
                           >
                           <i class="rss-icon fas fa-rss" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div>
            <ul class="list-group"  @Edit.TagToolbar(actions: "new", contentType: "Episode", prefill: new {
                    Channels = new string[] { Content.EntityGuid.ToString() },
                    Author = new string[] { (Content.Owner as Dynlist).First().EntityGuid.ToString() },
                    Date = DateTime.Now.ToString("MM.dd.yyyy")
                })>
                @foreach(var episode in episodes.OrderByDescending(e => e.Date)) {
                    episodeNumber++;

                    <li class="list-group-item pb-3 pt-3" @Edit.TagToolbar(episode, actions: "edit")>
                        <p class="text-muted episode-date">@episode.Date.ToString("dd MMM yyyy")</p>
                        <h5 class="episode-title">@episode.Title</h5>
                        <div class="episode-description">
                            @Html.Raw(episode.Description)
                        </div>
                        <div class="jp-jplayer @("episode-audio-"+@episodeNumber)" data-target="@episode.Audio"></div>
                        <button class="play-button play-button-@episodeNumber btn btn-primary" type="button" data-target="@episodeNumber"><i class="fas fa-play"></i> Play</button>
                        <button class="pause-button pause-button-@episodeNumber btn btn-primary" type="button" data-target="@episodeNumber"><i class="fas fa-pause"></i> Pause</button>
                        <span class="episode-duration text-muted">@episode.Duration</span>
                    </li>
                }
            </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".play-button").click( function() {
            $(".episode-audio-" + $(this).data('target')).jPlayer("play");
            $(this).css("display", "none");
            $(".pause-button-" + $(this).data('target')).css("display", "inline-block")
        });

        $(".pause-button").click( function() {
            $(".episode-audio-" + $(this).data('target')).jPlayer("pause");
            $(this).css("display", "none");
            $(".play-button-" + $(this).data('target')).css("display", "inline-block")
        });

        $(".jp-jplayer").each(function() {
            $(this).jPlayer({
                ready: function () {
                    $(this).jPlayer("setMedia", {
                        mp3: $(this).data('target'),
                    })
                },
                ended: function (event) {
                    $(this).jPlayer("play");
                },
                swfPath: "/assets",
                supplied: "mp3"
            })
            .bind($.jPlayer.event.play, function() { // pause other instances of player when current one play
                    $(this).jPlayer("pauseOthers");
            });
        });
    });

    window.onload = function () {
        var episodeDurationsList = document.getElementsByClassName('episode-duration');
        var formatedDuration = '';

        for(var i = 0; i < episodeDurationsList.length; i++) {
            formatedDuration = formatTime(episodeDurationsList[i].innerHTML);
            episodeDurationsList[i].innerHTML = formatedDuration;
        }
    }

    function formatTime(time) {
        var hr = ~~(time / 60);
        var min = ~~(time % 60);
        var hr_min = hr + ' hr ' + min + ' min';

        return hr_min;
    }
</script>