@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
    var episodes = Content.Parents("Episode") as Dynlist;
}
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/style.css" />

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <img src="@Content.Image?w=200&h=200&mode=crop">
                <div class="card-body">
                    <p class="card-text">
                        <p class="text-muted">@episodes.Count() Episoden (todo:translation)</p> 
                        <hr>
                        @Html.Raw(Content.Description)
                    </p>
                </div>
            </div>
            <hr class="mobile-hr">
        </div>
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Content.Title</h3>
                    <h6 class="card-subtitle mb-3">@Content.Owner[0].FullName</h6>
                    <p class="card-text">@Content.Category (todo:get the label)</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>