@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
    var episodes = Content.Parents("Episode") as Dynlist;
}
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/style.css" />

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <img src="@Content.Image?w=200&h=200&mode=crop">
                <div class="card-body">
                    <p class="card-text">
                        <p class="text-muted">@episodes.Count() Episoden (todo:translation)</p> 
                        <hr>
                        @Html.Raw(Content.Description)
                    </p>
                </div>
            </div>
            <hr class="mobile-hr">
        </div>
        <div class="col-12 col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title channel-title">@Content.Title</h3>
                    <h5 class="card-subtitle mb-3 owner-name">@Content.Owner[0].FullName</h6>
                    <!-- TODO: get the label -->
                    <p class="card-text text-muted">@Content.Category</p>
                </div>
            </div>
            <ul class="list-group">
                @foreach(var episode in episodes.OrderByDescending(e => e.Date)) {
                    <li class="list-group-item pb-3 pt-3 ">
                        <p class="text-muted episode-date">@episode.Date.ToString("dd MMM yyyy")</p>
                        <h5 class="episode-title">@episode.Title</h5>
                        <!-- TODO: Add text-mute class -->
                        @Html.Raw(episode.Description)
                        <!-- TODO: Add play icon and add translation-->
                        <button type="button" class="btn btn-primary mt-2">Abspielen</button>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>