@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
    var episodes = Content.Parents("Episode") as Dynlist;
    /* Counter which is brought for the identification of the individual episodes  */
    var episodeNumber = 0;
    var demoChannelGuid = new Guid("f9000077-f51d-4309-baf1-24debd7503a9");
    var isShowingDemo = Content.EntityGuid == demoChannelGuid;
}

<div class="container">
    <div class="row">
        <!-- Left column with image, episode counter and channel description -->
        <div class="col-12 col-md-4">
            <div class="card border-0">
                <img src="@Content.Image?w=1000&h=1000&mode=crop&quality=75">
                <div class="card-body p-0">
                    <p class="card-text">
                        <p class="pc-text-muted">
                            @episodes.Count() @App.Resources.Episodes
                        </p> 
                        <hr>
                        <div class="pc-channel-description-desktop">
                            @Html.Raw(Content.Description)
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <!-- Right column with the rest of the channel information and the episode listing -->
        <div class="col-12 col-md-8"> 
            <div class="card border-0 mb-4">
                <!-- Channel Information -->
                <div class="card-body p-0" @Edit.TagToolbar(Content)>
                    @if(isShowingDemo){
                        <div class="alert alert-warning">
                            @Html.Raw(App.Resources.WarningIsShowingDemo)
                        </div>
                    }
                    <h3 class="card-title pc-channel-title">
                        @Content.Title
                    </h3>
                    <h5 class="card-subtitle mb-3 pc-owner-name">
                        @Content.Owner[0].FullName
                    </h5>
                    <div class="pc-channel-description-mobile">
                        @Html.Raw(Content.Description)
                    </div>
                    <div class="pc-channel-category-rss">
                        <p class="card-text pc-text-muted mb-0">
                            @Content.Category[0].Name
                        </p>
                        <a href="@Link.To(parameters: "rss/true/standalone/true")" 
                           class="badge badge-pill"
                           target="_blank">
                           <i class="fas fa-rss align-self-center" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>


            <!-- Listing of episodes -->
            @if(!isShowingDemo) {
                @Edit.Toolbar(actions: "new", contentType: "Episode", prefill: new {
                        Channels = new string[] { Content.EntityGuid.ToString() },
                        Author = new string[] { (Content.Owner as Dynlist).First().EntityGuid.ToString() },
                        Date = DateTime.Now.ToString("MM.dd.yyyy")
                    })
            }
            <ul class="list-group">
                @foreach(var episode in episodes.OrderByDescending(e => e.Date)) {
                    episodeNumber++;
                    <!-- Episode information -->
                    <li class="list-group-item border-right-0 border-left-0 p-0 pb-3 pt-3" @Edit.TagToolbar(episode, actions: "edit")>
                        <p class="pc-text-muted pc-episode-date">
                            @episode.Date.ToString("dd MMM yyyy")
                        </p>
                        <h5 class="m-0">
                            @episode.Title
                        </h5>
                        <div class="pc-text-muted">
                            @Html.Raw(episode.Description)
                        </div>
                        <!-- jPlayer audio player -->
                        <div id="jquery_jplayer_@episodeNumber" class="jp-jplayer episode-audio-@episodeNumber" 
                             data-episode-audio="@episode.Audio"
                             data-episode-number="@episodeNumber">
                        </div>
                        <div class="pc-play-button-duration">
                            <div id="jp_container_@episodeNumber" class="jp-audio jp-audio-@episodeNumber">
                                <div class="jp-interface jp-interface-@episodeNumber">
                                    <div class="jp-controls-holder">
                                        <div class="jp-controls">
                                            <button class="jp-play jp-play-@episodeNumber" type="button">
                                                <i class="fas fa-play"></i>
                                            </button>
                                        </div>
                                        <div class="jp-current-time jp-current-time-@episodeNumber">&nbsp;</div>
                                        <div class="jp-progress jp-progress-@episodeNumber">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar jp-play-bar-@episodeNumber"></div>
                                            </div>
                                            <div class="pc-drag-handler pc-drag-handler-@episodeNumber" data-episode-number="@episodeNumber"></div>
                                        </div>
                                        <div class="jp-duration jp-duration-@episodeNumber">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <span class="pc-episode-duration pc-episode-duration-@episodeNumber pc-text-muted">
                                @episode.Duration
                            </span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/dist/styles.css" />
<script type="text/javascript" src="@App.Path/assets/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="@App.Path/dist/scripts.js"></script>