@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data

@{
  var channel = As<Channel>(MyItem);

  // Get all the Episode items which point to this channel
  var episodes = channel.Parents<Episode>(type: "Episode");
  
  // Default Toolbar Edit and Change Layouting 
  var channelToolbar = Kit.Toolbar.Default().Settings(hover:"left", autoAddMore:"start");
  
  var episodesoolbar = Kit.Toolbar.Empty()
    .Settings(hover: "left", show: "always")
    .New("Episode", tweak: b => b
      .Prefill("Date=" + DateTime.Now.ToString("yyyy-MM-dd"))
      .Prefill("Channels=" + channel.Guid.ToString())
      .Prefill("Author=" + channel.Owner.Guid.ToString())
    );

  // Css classes for BS5 or BS4 (Bootstrap 5 uses rounded-pill instead of badge-pill)
  var badgePill = Kit.Css.Is("bs5") ? "rounded-pill" : "badge-pill";
}

<div class="app-podcast2 mb-4" @channelToolbar.For(channel)>  
  <div class="row">

    @* Left column with image, episodes counter and channel description *@
    <div class="col-12 col-md-4">
      <div class="card border-0">
        @channel.Picture("Image", settings: "Podcast", width: "1000", imgClass:"w-100 rounded-sm", imgAltFallback: channel.Title)
        <div class="card-body p-0">
          <div class="card-text mt-2">
            <p class="text-muted">@episodes.Count() @App.Resources.Episodes</p>
            <hr>
              @channel.Html("Description").Class("pc-channel-description-desktop d-none d-md-block")
          </div>
        </div>
      </div>
    </div>

    @* Right column with the rest of the channel information and the episodes listing *@
    <div class="col-12 col-md-8">
      <div class="card border-0 mb-4">
        @* Channel Information *@
        <div class="card-body p-0">
          @if (channel.IsDemoItem) {
            <div class="alert alert-warning">
              @Html.Raw(App.Resources.WarningIsShowingDemo)
            </div>
          }
          <h3 class="card-title pc-channel-title">@channel.Title</h3>
          <h5 class="card-subtitle mb-3 pc-owner-name">@channel.Owner.FullName</h5>
          @channel.Html("Description").Class("pc-channel-description-mobile d-block d-md-none")
          <div class="pc-channel-category-rss d-flex justify-content-between">
            <div class="card-text text-muted">
              @(Text.Has(channel.Category.SubCategory) ? channel.Category.SubCategory : channel.Category.MainCategory)
            </div>
            <a class="badge @badgePill d-flex justify-content-center bg-secondary"
              href='@Link.To(api: "api/PodCast/Rss", parameters: "pageid=" + MyPage.Id + "&moduleId=" + MyContext.Module.Id + "&channelid=" + channel.Id)'
              target="_blank">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rss" style="width: 10px;" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 16.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 16.018 14.887h48.069c9.149.001 16.489-7.655 15.995-16.79zm144.249.288C439.596 229.677 251.465 40.445 16.503 32.01 7.473 31.686 0 38.981 0 48.016v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 161.316 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 16.329-7.474 16.005-16.504z"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>

      @* Listing of episodes (position: relative is needed so the optional toolbar is shown correctly) *@
      <div class="position-relative">
        @* Only show an add-toolbar if there is no edition yet (afterwards you can add on each edition) *@
        @(episodesoolbar.DetectDemo(channel).Condition(!episodes.Any()).AsTag())
        <ul class="list-group">
          @foreach (var episode in episodes.OrderByDescending(e => e.Date)) {
            @Html.Partial("./Channel.Part Episode.cshtml", episode)
          }
        </ul>
      </div>

    </div>
  </div>
</div>

@Html.Partial("./Assets.cshtml")
