@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data

@{
    // Get one Episode item
    var epi = As<Episode>(Model);

    // Default Toolbar with Delete and without layout 
    var epiToolbar = Kit.Toolbar.Default().DetectDemo(epi).Layout("-").Delete();

    // Class for BS5 or BS4 
    var isBs5 = Kit.Css.Is("bs5");
    var border = isBs5 ? "border-end-0 border-start-0 " : "border-right-0 border-left-0 ";
    var bold = isBs5 ? "fw-bold " : "font-weight-bold mb-2 ";
}

@* Episode information *@
<li class="app-podcast2 list-group-item @border p-0 pb-3 pt-3" @epiToolbar.For(epi)>
    <p class="text-muted pc-episode-date @bold">@epi.Date.ToString("dd MMM yyyy")</p>
    <h5 class="m-0">@epi.Title</h5>
    @epi.Html("Description").Class("text-muted")
    <audio
        preload="metadata"
        controls
        src="@epi.Audio">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</li>
