@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  var episodes = AsList(Content.Parents("Episode") as object);
  /* Counter which is brought for the identification of the individual episodes  */
  var episodeNumber = 0;
}

<div class="app-podcast2 container mb-4"  @Edit.TagToolbar(Content, toolbar: new [] { "settings&hover=left&autoAddMore=start" })>
  <div class="row">
    @* Left column with image, episode counter and channel description *@
    <div class="col-12 col-md-4">
      <div class="card border-0">
        <img class="w-100 rounded-sm" loading="lazy" src='@Link.Image(url: Content.Image, width: 1000, height: 1000, resizeMode: "crop", quality: 75)' />
        <div class="card-body p-0">
          <p class="card-text">
            <p class="text-muted">@episodes.Count() @Resources.Episodes</p>
            <hr>
            <div class="pc-channel-description-desktop d-none d-md-block">@Html.Raw(Content.Description)</div>
          </p>
        </div>
      </div>
    </div>
    @* Right column with the rest of the channel information and the episode listing *@
    <div class="col-12 col-md-8">
      <div class="card border-0 mb-4">
        @* Channel Information *@
        <div class="card-body p-0">
          @if(Content.IsDemoItem){
            <div class="alert alert-warning">
              @Html.Raw(Resources.WarningIsShowingDemo)
            </div>
          }
          <h3 class="card-title pc-channel-title">@Content.Title</h3>
          <h5 class="card-subtitle mb-3 pc-owner-name">@Content.Owner.FullName</h5>
          <div class="pc-channel-description-mobile d-block d-md-none">@Html.Raw(Content.Description)</div>
          <div class="pc-channel-category-rss d-flex">
            <p class="card-text text-muted mb-0 align-self-end">
              @(Text.Has(Content.Category.SubCategory) ? Content.Category.SubCategory : Content.Category.MainCategory)
            </p>
            <a class="badge badge-pill d-flex justify-content-center bg-secondary"
              href='@Link.To(api: "api/PodCast/Rss", parameters: "pageid=" + CmsContext.Page.Id + "&moduleId=" + CmsContext.Module.Id + "&channelid=" + Content.EntityId)'
              target="_blank">
              <i class="fas fa-rss align-self-center"></i>
            </a>
          </div>
        </div>
      </div>

      @* Listing of episodes *@
      @if(!Content.IsDemoItem) {
        @Edit.Toolbar(toolbar: new [] {
          "toolbar=empty",
          "new?contentType=Episode&prefill:Date=" + @DateTime.Now.ToString("yyyy-MM-dd")
            + "&prefill:Channels=" + Content.EntityGuid.ToString()
            + "&prefill:Author=" + Content.Owner.EntityGuid.ToString()
        })
      }
      <ul class="list-group">
        @foreach(var episode in episodes.OrderByDescending(e => e.Date)) {
          episodeNumber++;
          @Html.Partial("./_Channel.PartEpisode.cshtml", new { Episode = episode })
        }
      </ul>
    </div>
  </div>
</div>

@Html.Partial("./_Channel.PartAssets.cshtml")